### ðŸ”¹ Q9. Create a rolling average of 'Stock\_Price' over a window of 3 days.

In [2]:
import pandas as pd
df = pd.DataFrame({
    'Date': pd.date_range(start='2023-01-01', periods=10),
    'Stock_Price': [100, 102, 101, 105, 110, 108, 107, 109, 111, 112]
})
df.set_index('Date', inplace=True)

In [3]:
df

            Stock_Price
Date
2023-01-01          100
2023-01-02          102
2023-01-03          101
2023-01-04          105
2023-01-05          110
2023-01-06          108
2023-01-07          107
2023-01-08          109
2023-01-09          111
2023-01-10          112

In [8]:
df['rolling_avg']= df['Stock_Price'].rolling(window=3,min_periods=1).mean()

In [9]:
df

            Stock_Price  rolling_avg
Date
2023-01-01          100   100.000000
2023-01-02          102   101.000000
2023-01-03          101   101.000000
2023-01-04          105   102.666667
2023-01-05          110   105.333333
2023-01-06          108   107.666667
2023-01-07          107   108.333333
2023-01-08          109   108.000000
2023-01-09          111   109.000000
2023-01-10          112   110.666667